<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <meta charset="utf-8"/>
    <!-- Bootstrap -->
    <link href="/rd/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/rd/css/vanishreader.css" rel="stylesheet"/>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MyReader</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<!--<form th:action="@{/signup}" th:object="${user}"  action="/signup" method="post">
    email :<input type="email"   th:field="*{email}"  name="email1" /> <br/>
    nickname: <input type="text"  th:field="*{nickname}" name="nickname"/> <br/>
    password: <input type="password"  th:field="*{password}"  name="password"  /> <br/>
    <input type="submit" value="submit"/>


    <ul th:if="${#fields.hasErrors('*')}" >
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
    </ul>
</form>-->

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <form class="form-signin" role="form" th:action="@{/signup}" method="post" th:object="${user}" >
                <h2 class="form-signin-heading">Sign up</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"
                       required="true" autofocus="true"  th:field="*{email}"/>
                <br/>
                <label for="nickname" class="sr-only">Nick name</label>
                <input name="nickname" type="text" id="nickname" class="form-control" placeholder="nickname"
                       required="true" autofocus="true"  th:field="*{nickname}"/>
                <br/>
                <label for="inputPassword" class="sr-only">Password</label>
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
                       required="true" th:field="*{password}"/>
                <!--<div class="checkbox">-->
                <!--<label>-->
                <!--<input type="checkbox" value="remember-me"> Remember me-->
                <!--</label>-->
                <!--</div>-->
                <br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                <ul th:if="${#fields.hasErrors('*')}" >
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </form>
        </div>
    </div>

</div>
</body>
</html>